<div class="container" id="content">
  <div id="bearlyMission">
    <div class="row">
      <div class="col col-xs-12 text-center">
        <p>Here at <i>Bearly Farms</i>, we believe that when we eat well, we are well. This is why we strive to grow food that is as nourishing as possible and to make that food available to our local community.<br />
          <br />Nestled at the base of Mt. Hood, our produce is available to Portland and the surrounding areas.
              We have and always will grow our food free of herbicides and pesticides.
        </p>
      </div>
    </div>

    <div id="plx">
      <div class="container">
        <div class="banner1">
          <blockquote class="blockquote text-center">
            <p class="mb-0">Nature does not hurry, yet everything is accomplished.</p>
            <footer class="blockquote-footer">Lao Tzu</footer>
          </blockquote>
        </div>
      </div>
    </div>

  <div id="vegList">
    <div class="jumbotron">
      <div class="row">
        <div class="col-xs-12">
          <h3 align="center" class="display-1">What's growing?</h3>
        </div>
      </div>
        <div class="well text-center">
          <ul>
            <li>Awesome <b>Arugula</b></li>
            <li>Bodacious <b>Beets</b></li>
            <li>Cool <b>Carrots</b></li>
            <li>Delectible <b>Dill</b></li>
            <li>Exceptional <b>Eggplants</b></li>
            <li>Fantastic <b>Fennel</b></li>
            <li>Gorgeous <b>Gourds</b></li>
            <li>High-quality <b>Herbs</b></li>
            <li>. . .</li>
            <h3 class="display-1">Dare we go on?</h3>
          </ul>
        </div>
      </div>
    </div>
  </div>

</div>
