<div id="header">
  <div class="row mx-auto" id="logo">
    <div class="col-sm-4 offset-sm-4 ">
      <div id="logoContainer">  
        <div id="circle">
          <%= link_to(image_tag('bearlyBear.png', alt: "We're Bearly Farmin'!"), root_path) %>
        </div>
       </div>
    </div>
  </div>
</div>

<div class="row" id="navigation">
  <nav class="navbar navbar-expand-lg navbar-dark">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#bearlyNav" aria-controls="bearlyNav" aria-expanded="false">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="bearlyNav">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item">
          <a class="nav-link" href="#">Home<span class="sr-only">(current)</span></a>        
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">About us</a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownLink" data-toggle="dropdown" aria-haspopup="true">
            Produce<span class="caret"></span>
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdownLink">
            <ul>
              <li class="dropdown-item">
                <a class="dropdown-link" href="#">C.S.A.</a>
              </li>
              <li class="dropdown-item">
                <a class="dropdown-link" href="#">Chefs and Restaurants</a>
              </li>
              <li class="dropdown-item">
                <a class="dropdown-link" href="#">What's growing?</a>
              </li>
            </ul>
          </div>
        </li>
      </ul>
    </div>
  </nav>
</div>

<div class="row" id="content">
  <div class="jumbotron">
    “On this bridge,” Lorca warns, “life is not a dream. Beware. And beware. And beware.” And so many think because Then happened, Now isn’t. But didn’t I mention the ongoing “wow” is happening right now? We are all co-authors of this dancing exuberance where even our inabilities are having a roast. We are the authors of ourselves, co-authoring a gigantic Dostoevsky novel, starring clowns. This entire thing we’re involved with called the world, is an opportunity to exhibit how exciting alienation can be. Life is a matter of a miracle that is collected over time by moments, flabbergasted to be in each other’s presence. The world is an exam to see if we can rise into direct experience. Our eyesight is here as a test to see if we can see beyond it. Matter is here as a test for our curiosity. Doubt is here as an exam for our vitality. Thomas Mann wrote that he would rather participate in life than write 100 stories. Giacometti was once run down by a car, and he recalled falling into a lucid faint, a sudden exhilaration, as he realized that at last something was happening to him. An assumption develops that you cannot understand life and live life simultaneously. I do not agree entirely. Which is to say I do not exactly disagree. I would say that life understood is life lived. But the paradoxes bug me, and I can learn to love and make love to the paradoxes that bug me. And on really romantic evenings of self, I go salsa dancing with my confusion. Before you drift off, don’t forget. Which is to say, remember. Because remembering is so much more a psychotic activity than forgetting. Lorca, in that same poem said that the iguana will bite those who do not dream. And as one realizes that one is a dream figure in another person’s dream, that is self awareness.
  </div>
</div>

