<div id="content">
  
  <div class="row">
    <div class="col col-xs-12 text-center">
      <div id="bearlyMission">
        <p>Here at <i>Bearly Farms</i>, we believe that when we eat well, we are well. This is why we strive to grow food that is as nourishing as possible and to make that food available to our local community.<br />
          <br />Nestled at the base of Mt. Hood, our produce is available to Portland and the surrounding areas.
              We have and always will grow our food free of herbicides and pesticides.
        </p>
     </div>
    </div> 
  </div>
  
  <div id="plx">
    <div class="container">
      <div class="banner1">
        <blockquote class="blockquote text-center">
          <p class="mb-0">Nature does not hurry, yet everything is accomplished.</p>
          <footer class="blockquote-footer">Lao Tzu</footer>
        </blockquote>
      </div>
    </div>
  </div>
  
  <div id="vegList">
    <div class="jumbotron">
      <p class="display-3">What's growing?</p>
      
      <ul>
        <li>Awesome <b>Arugula</b></li>
        <li>Bodacious <b>Beets</b></li>
        <li>Cool <b>Carrots</b></li>
        <li>Delectible <b>Dill</b></li>
        <li>Exceptional <b>Eggplants</b></li>
        <li>Fantastic <b>Fennel</b></li>
        <li>Gorgeous <b>Gourds</b></li>
        <li>High-quality <b>Herbs</b></li>
      </ul> 
      
      <c>. . .</c>
      <p class="display-4" align="center">Dare we go on?</p>
    </div>
  </div> 
  
</div>

<div class="container" id="pageFooter">
    <div class="row text-center">
       <div class="col col-sm-4">
         <div>
           Hours: <br>
           Monday-Friday:<br>
           8 a.m. - 5 p.m.<br><br>
           Saturday-Sunday: Closed
         </div>
       </div>
        
        <div class="col col-sm-4">
         <div>Telephone:<br><a href="tel:503.740.1193">503.740.1193</a></div>
        </div>
        
        <div class="col col-sm-4">
          <div>Email:<br><a href=d"mailto:bearlyfarms@gmail.com">bearlyfarms@gmail.com</a></div>
        </div>
      </div>
      <div class="row text-center">
        <div class="col col-xs-6 offset-xs-3">
          <small>Copyright &copy; All rights reserved. 2018</small>
        </div>
      </div>
      
  </div>
</div>
