<div class="container">
  

  <div class="row" id="logo">
    <div class="col col-xs-4 col-xs-offset-4" id="logoContainer">
      <div id="circle">
        <%= link_to(image_tag('bearlyBear.png', alt:"We're Bearly Farmin'!"), root_path) %>
      </div>
    </div>
  </div>
</div>
<div class="container" id="navigation">
  <nav class="navbar navbar-expand-lg navbar-dark sticky">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#bearlyNav" aria-controls="bearlyNav" aria-expanded="false">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="bearlyNav">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item">
          <a class="nav-link" href="#">Home<span class="sr-only">(current)</span></a>        
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">About us</a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownLink" data-toggle="dropdown" aria-haspopup="true">
            Produce<span class="caret"></span>
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdownLink">
            <ul>
              <li class="dropdown-item">
                <a class="dropdown-link" href="#">C.S.A.</a>
              </li>
              <li class="dropdown-item">
                <a class="dropdown-link" href="#">Chefs and Restaurants</a>
              </li>
              <li class="dropdown-item">
                <a class="dropdown-link" href="#">What's growing?</a>
              </li>
            </ul>
          </div>
        </li>
      </ul>
    </div>
  </nav>
</div>

<div class="container" id="content">  
  <div id="bearlyMission">
    <div class="row">
      <div class="col col-xs-12 text-center">
        <p>Here at <i>Bearly Farms</i>, we believe that when we eat well, we are well. This is why we strive to grow food that is as nourishing as possible and to make that food available to our local community.<br />
          <br />Nestled at the base of Mt. Hood, our produce is available to Portland and the surrounding areas.
              We have and always will grow our food free of herbicides and pesticides.
        </p>
      </div>
    </div>

    <div id="plx">
      <div class="container">
        <div class="banner1">
          <blockquote class="blockquote text-center">
            <p class="mb-0">Nature does not hurry, yet everything is accomplished.</p>
            <footer class="blockquote-footer">Lao Tzu</footer>
          </blockquote>
        </div>
      </div>
    </div>

  <div id="vegList">
    <div class="jumbotron">
      <div class="row">
        <div class="col col-xs-12">
          <h3 align="center" class="display-1">What's growing?</h3>
        </div>
      </div>
        <div class="well text-center">
          <ul>
            <li>Awesome <b>Arugula</b></li>
            <li>Bodacious <b>Beets</b></li>
            <li>Cool <b>Carrots</b></li>
            <li>Delectible <b>Dill</b></li>
            <li>Exceptional <b>Eggplants</b></li>
            <li>Fantastic <b>Fennel</b></li>
            <li>Gorgeous <b>Gourds</b></li>
            <li>High-quality <b>Herbs</b></li>
            <li>. . .</li>
            <h3 class="display-1">Dare we go on?</h3>
          </ul>
        </div>
      </div>
    </div>
  </div>

</div>
