@import "bootstrap";

$backgroundColor: $white;
$darkGreen: #006600;
$darkerGreen: #003a00;
$linkHover: #017D12;
$white: #fff;

a {
  color: $white;
  display: block;
  font-weight: bold;
  letter-spacing: 1px;
  padding: 16px;
  text-align: center;
  text-transform: uppercase;
  text-decoration: none;
  transition: color 0.2s ease;
}

#header {
  position: sticky;
  top: 10px;
  z-index: auto;
  
  #logo {
    width: 100%;
  
    #logoContainer {
      height: 275px;
      margin: 0 auto;
      width: 275px;
    
      #circle {
        background-color: $darkGreen;
        border-radius: 50%;
        height: 100%;
        width: 100%;
      } //End circle
      img {
        height: 100%;
        width: 100%;
      }
    } //End logo container
  } //End logo
} //End header

#navigation {
  background-color: $backgroundColor;
  margin-top: 20px;
  position: sticky;
  top: 0;
  z-index: 1;
    
  nav {
    background-color: $darkGreen; 
    width: 100%;
  
    ul {
      list-style-type: none;
      margin: 0;
      padding: 0;
      text-align: center;
      }
  
    li {
      display: inline-block;
    }
  }
  
  .nav-item {
    border-radius: 25px;
    display: inline-block;
    transition: background-color 0.2s ease;
  }

  .nav-item:hover {
    background-color: $darkerGreen;
  }
  
  .nav-link:hover {
    color: $linkHover;
  }
  
  .nav-link:active {
    color: $linkHover;
  } //end horizontal navbar
  
  //nested dropdown-menu
  .dropdown-menu {
    background-color: $darkGreen;
    border-bottom-left-radius: 25px;
    border-bottom-right-radius: 25px;
  }
  
  .dropdown-item {
    background-color: $darkGreen;
    margin: 0;
    padding: 0;
  }
  
  .dropdown-item {
    border-radius: 25px;
    transition: background-color 0.2s ease;
  }
  
  .dropdown-item:hover {
    background-color: $darkerGreen;
  }
  
  .dropdown-link {
    color: white;
    font-weight: bold;
    letter-spacing: 1px;
    padding: 5px 15px;
    text-align: center;
    text-transform: uppercase;
    text-decoration: none;
    transition: color 0.2s ease;  
  }
  
  .dropdown-link:hover {
    color: $linkHover;
    text-decoration: none;
  }
}

#content {
  background-color: $backgroundColor;
  border-top: 30px solid $backgroundColor;
  margin-top: -40px;
  position: relative;
  
  #bearlyMission {
    p {
      border-top: 1px solid #eaeaea;
      border-bottom: 1px solid #eaeaea;
      font-size: 1.5em;
      font-weight: bold;
      margin: 0px auto;
      padding: 5px 50px;
      
    }
  }

  //parallax
  #plx {
    background-image: asset_url("mt_hood.jpg");
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 25px;
    margin: 15px 0;
    p {
      border-top: none;
      border-bottom: none;
    }
  }

  .banner1 {
    padding: 50px 20px;
  }

  blockquote {
    border-left: none;
    color: #eaeaea;
    font-size: 2.5em ;
    font-weight: bold;
  }
  blockquote footer {
      color: white;
      font-size: 1em;
  }
}

#vegList {
  .jumbotron {
    width: 100%;
    padding: 15px;
    text-align: center;
  }

  c {
    padding-top: 0;
    font-size: 3em;
    font-weight: bold;
  }
  
  p {
    padding-bottom: 10px;
  }
  
  ul {
    list-style-type: none;
    margin: 0 auto;
    padding: 10px 0;
    font-size: 1em;
    li {
      letter-spacing: 2px;
    }
  }
}

#pageFooter {
  background-color: $darkGreen;
  border-top: 1px solid #eaeaea;
  border-top-left-radius: 25px;
  border-top-right-radius: 25px;
  color: lightGray;
  padding: 15px 0;
  
  a:hover {
    color: $linkHover;
  }
}
