
<div class="container" id="pageFooter">
    <div class="row text-center">
       <div class="col col-sm-4">
         <div>
           Hours: <br>
           Monday-Friday:<br>
           8 a.m. - 5 p.m.<br><br>
           Saturday-Sunday: Closed
         </div>
       </div>
        
        <div class="col col-sm-4">
         <div>Telephone:<br><a href="tel:503.740.1193">503.740.1193</a></div>
        </div>
        
        <div class="col col-sm-4">
          <div>Email:<br><a href=d"mailto:bearlyfarms@gmail.com">bearlyfarms@gmail.com</a></div>
        </div>
      </div>
      <div class="row">
        <div class="col col-sm-12">
          <small>Copyright &copy; All rights reserved. 2018</small>
        </div>
      </div>
      
  </div>
</div>
