<section id="footer">
  <div class="container">
    <div class="row">
      <div class="col col-xs-4" id="hours">
        <div>

        </div>
      </div>
      <div class="col col-xs-4">
        <div>

        </div>
      </div>
      <div class="col col-xs-4">
        <div>

        </div>
      </div>
    <small>Copyright &copy; All rights reserved. 2018</small>
  </div>
</section>
