<div class="row" id="logo">
  <div class="col col-xs-4 col-xs-offset-4" id="logoContainer">
    <div id="circle">
      <%= link_to(image_tag('bearlyBear.png', alt: "We're Bearly Farmin'!"), root_path) %>
    </div>
  </div>
</div>
