<div class="row" id="navigation">
  <nav class="navbar navbar-expand-lg">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#bearlyNav" aria-controls="bearlyNav" aria-expanded="false">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="bearlyNav">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item">
          <a class="nav-link" href="#">Home<span class="sr-only">(current)</span></a>        
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">About us</a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownLink" data-toggle="dropdown" aria-haspopup="true">
            Produce<span class="caret"></span>
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdownLink">
            <ul>
              <li class="dropdown-item">
                <a class="dropdown-link" href="#">C.S.A.</a>
              </li>
              <li class="dropdown-item">
                <a class="dropdown-link" href="#">Chefs and Restaurants</a>
              </li>
              <li class="dropdown-item">
                <a class="dropdown-link" href="#">What's growing?</a>
              </li>
            </ul>
          </div>
        </li>
      </ul>
    </div>
  </nav>
</div>

-->
